<div class="runbook-main">

  <div class="runbook-header">

  </div>
  <div class="runbook-body">
    <div class="rb-top">
      <span class="rr-l">Recent runbooks</span>
      <button mat-button class="p-r">
        <mat-icon aria-label="View in list">view_list</mat-icon>
      </button>
      <button mat-button class="p-r">
        <mat-icon aria-label="View in list">sort_by_alpha</mat-icon>
      </button>
    </div>
    <div>
      <mat-grid-list cols="4" rowHeight="260px">
        <mat-grid-tile
          *ngFor="let runbook of runbooks"
          [colspan]="1">
          <wzz-runbook-card [runbook]="runbook">
          </wzz-runbook-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>


  <div class="add-rb">
    <button mat-fab color="accent">
      <mat-icon aria-label="add a runbook" (click)="gotoRunbookDetail(0)">add</mat-icon>
    </button>
  </div>
</div>
