<div class="runbook-main">

  <div class="runbook-header">

  </div>
  <div class="runbook-body">
    <div class="rb-top">
      <span class="rr-l">Recent playbooks ({{runbooks && runbooks.length}})</span>
      <button mat-button class="p-r">
        <mat-icon aria-label="View in list">view_list</mat-icon>
      </button>
      <button mat-button class="p-r">
        <mat-icon aria-label="View in list">sort_by_alpha</mat-icon>
      </button>
    </div>
    <div>
      <mat-grid-list [cols]="cols" rowHeight="320px" gutterSize="5">
        <mat-grid-tile
          *ngFor="let runbook of runbooks"
          [colspan]="1"
          [@flyInOut]="'in'">
          <wzz-runbook-card [runbook]="runbook">
          </wzz-runbook-card>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </div>
  </div>


  <div class="add-rb">
    <button mat-fab color="accent">
      <mat-icon aria-label="add a playbook" (click)="gotoRunbookDetail('0')">add</mat-icon>
    </button>
  </div>
</div>
