.runbook-d-container {
  margin: 12px;
}

.yml-container {
  width: 70%;
}

.yml-editor {
  display: flex;
  min-height: 200px;
  white-space: pre-wrap;
  background-color: hsla(0, 0%, 95%, .2);
  border: .5px solid #dbdbdb;
  border-radius: 5px;
  padding: 12px 12px;
}

.runbook-overview {
  width: 30%;
}
