<div class="m-devices">


  <div class="row">
    <div class="graph">
      <span> graph</span>
    </div>


    <div class="device-table">
      <h4>Devices</h4>
      <mat-table #table [dataSource]="deviceDataSource" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{device.name}}</mat-cell>
        </ng-container>

        <!-- IP Column -->
        <ng-container matColumnDef="mgmtIP">
          <mat-header-cell *matHeaderCellDef mat-sort-header> IP</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{device.mgmtIP}}</mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="mainTypeName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> type</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{device.mainTypeName}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</div>

